#calendar-container {
    width: 800px;
    /*height: 900px;*/
    margin-top: 50px;
    margin-right: 3%; 
    float: right;
}

.active {
    background-color: #BF9F5F !important;
}

#prevBtn, #nextBtn {
    padding: 0px 15px;
    border: none;       /* remove border for button */
    background: none;
}

button.glyphicon-arrow-left, 
button.glyphicon-arrow-right {
    font-size: 2em;
}

.calendar-heading {
    text-align: center;
}

#monthTitle {
    font-size: 32px;
}

.active {
    background-color: #BF9F5F !important;
}

#calendar {
    margin: 0 auto;     /* center table horizontally */
}

#calendar th {
    color: #3D9B45;
    font-weight: 800;
    text-align: center;
}

#calendar td {
    width: 105px;
    height: 105px;
    vertical-align: top;
    background-color: #E1D1B3;
    border: 8px solid white;    /* white border for the gap between cells */
}

#calendar td .date {
    color: #3D9B45;
    font-weight: 800;
    float: right;
    margin-top: 2px;
    margin-right: 3px;
}

#calendar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 3px;
    margin-left: 5px;
}

#calendar ul li {
    font-family: Verdana;
    font-size: 10px;
}

#year {
    margin-top: -7px;
    font-size: 10px;
}

#eInfo{
  float: left;
  width: 650px;

}

.divider {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #E1D1B3; /* old IE */
    background-color: #E1D1B3; /* Modern Browsers */
}